html, button, input, select, textarea {
	color:  #444;
}
html { 
	font-size: 1em;
	line-height: 1.4;
}
body {
	background-color: #777;	
}
#id=wrapper{
	max-width: 900px;
	min-width: 320px;
	margin:auto;

}
header {
	border: 1px #ccc;
	border-radius: 3px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);

}